.nothing{
    background-color: gainsboro;
}

.container1{
    width: 8rem;
    height: 8rem;
    position: absolute;
    top: 6rem;
}

.container2{
    width: 9rem;
    height: 8.5rem;
}

.container3{
    width:3rem;
    height: 3rem;
}

